@CHARSET "UTF-8";
body{
	background-color:#1D1F21;
	color: FloralWhite;
	font-family: "arial,helvetica,sans-serif";
}

#logoText{
	text-align:center;
}

ul{
	list-style-type:none;
	padding: 0;
	margin: 0;
}


li{
	margin-left: 20px;
}

#threadsList{
	padding-top: 100px;
}

.threadBox{
	background-color:#282A2E;
	margin-right: 25%;
}

.threadBoxHeader{
	padding-left: 10px;
	padding-top: 10px;
	font-weight: bold;
}

a{
	color: FloralWhite;
}



.threadBoxDate{
	
}

.threadBoxContent{
	padding-left: 10px;	
	padding-bottom: 10px;
}

hr {
	height: 1px;
    color: #ed1d61;
    background: #ed1d61;
    font-size: 0;
    border: 0;
    opacity: 0.3;
}





